html {
    margin: 7px;
    background-color: rgb(173, 255, 126);

}

#descIdade {
    background-color: rgb(197, 176, 176);
    border: 3px solid black;
    padding-bottom: 3px;
    text-align: center;
    font-size: 25px;
}


#texto {
    text-align: center;
    border-bottom: solid 2px black;
    margin-top: 1px;
    font-size: 50px;


}



.caixaAlturaPeso {
    text-align: center;
    font-size: 35px;

}

#nome {
    font-size: 20px;
    border-radius: 7px;
    height: 45px;
    width: 700px;
}

#idade {
    font-size: 20px;
    border-radius: 7px;
    height: 45px;
    width: 700px;

}

#resultado {
    text-align: center;
    font-size: 50px;
}

.botcalculo {
    font-size: 20px;
    width: 250px;
    background-color: rgb(190, 190, 190);
    border-radius: 10px;
}